/* Start Global Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --tertiary-color: #f6f6f6;
  --section-padding: 50px 0;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}
/* End Global Variables */
/* Start Components */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.special-heading {
  margin: 0;
  color: var(--secondary-color);
  text-align: center;
  font-size: 6.25rem;
  font-weight: 800;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 3.75rem;
  }
}

.special-heading + p {
  text-align: center;
  margin: -4px 0 0;
  font-size: 1.25rem;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Components */
/* start header */
.header {
  padding: 20px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

/* header: start logo */
.header .logo {
  width: 60px;
  height: 28px;
}

.header .logo img {
  width: 60px;
  height: 24px;
}
/* header: end logo */

.header .links {
  position: relative;
  background-color: transparent;
  border: none;
}

/* header: start icon */
.header .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 30px;
}

.header .icon span {
  display: inline-block;
  height: 2px;
  margin-bottom: 5px;
  background-color: var(--secondary-color);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.header .icon span:first-child {
  width: 100%;
}

.header .icon span:nth-child(2) {
  width: 60%;
}

.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .container .links .icon span:last-child {
  width: 100%;
}
/* header: end icon */
/* header: start ul links */
.header .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 200px;
  background-color: var(--tertiary-color);
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  z-index: 1;
  display: none;
}

@media screen and (max-width: 1025px) {
  .header .links:focus ul {
    display: block;
  }
  .header .links ul:hover {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  .header .links:hover ul {
    display: block;
  }
}

.header .links ul::before {
  content: '';
  display: inline-block;
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent var(--tertiary-color) transparent;
  top: 0;
  right: 5px;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.header .links ul li {
  padding: 15px;
  font-size: 1.2rem;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-align: left;
}

.header .links ul li:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.header .links ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}
/* header: end ul links */
/* end header */
/* landing start */
.landing {
  position: relative;
  width: 100vw;
  height: calc(100vh - 68px);
  background-image: url('../images/landing.webp');
  background-size: cover;
  background-attachment: fixed;
}

.landing .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 320px;
  text-align: center;
}

.landing h1 {
  margin: 0;
  font-size: 3.125rem;
  font-weight: 800;
  color: var(--main-color);
}

.landing p {
  margin: 15px 0;
  line-height: 1.8;
  font-size: 1.17rem;
}
/* landing end */
/* feature start */
.feature {
  background-color: var(--tertiary-color);
}

.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.feature .feat {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.feature .feat i {
  font-size: 3rem;
  color: var(--main-color);
}

.feature .feat h2 {
  margin-top: 25px;
  font-size: 1.2rem;
  font-weight: 800;
}

.feature .feat p {
  margin-top: 25px;
  line-height: 1.9;
}

.services {
  padding: var(--section-padding);
}
.services .container {
  position: relative;
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 60px;
}

.services .services-content .srv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .services-content .srv i {
  -ms-flex-preferred-size: 60px;
  flex-basis: 60px;
  color: var(--main-color);
}

.services .services-content .srv .text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.services .services-content .srv .text h3 {
  margin-top: 0;
}

.services .services-content .srv .text p {
  line-height: 1.8;
}

.services .services-content .image {
  text-align: center;
  position: relative;
}

.services .services-content .image::before {
  content: '';
  position: absolute;
  width: 26%;
  height: calc(100% + 80px);
  background-color: var(--secondary-color);
  top: -40px;
  right: 0;
  z-index: -1;
}

.services .services-content .image img {
  border-style: none;
  width: 235px;
}

@media (max-width: 992px) {
  .image-column {
    display: none;
  }
}

@media (max-width: 768px) {
  .services .services-content .srv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}
/* services end */
/* start portfolio */
.portfolio {
  padding: var(--section-padding);
  background-color: var(--tertiary-color);
}

.portfolio .card-collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 60px;
  gap: 30px;
}

.portfolio .card-collection .card {
  background-color: white;
}

.portfolio .card-collection .card img {
  max-width: 100%;
}

.portfolio .card-collection .card .text {
  padding: 20px;
}

.portfolio .card-collection .card .text h3 {
  margin-top: 0;
}
/* end portfolio */
/* start about */
.about {
  padding: var(--section-padding);
}

.about .about-section {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about .image {
  position: relative;
  width: 250px;
  height: 375px;
}

.about .image::before {
  content: '';
  position: absolute;
  top: -30px;
  left: -20px;
  width: 40%;
  height: calc(100% + 60px);
  background-color: #ebeced;
  z-index: -1;
}

.about .image::after {
  content: '';
  position: absolute;
  top: -30px;
  right: -150px;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
}

.about .image img {
  max-width: 100%;
}

.about .text {
  width: calc(100% - 500px);
  font-size: 1rem;
  line-height: 1.8rem;
}

.about .text p:first-child {
  font-weight: 700;
}

.about .text hr {
  width: 40%;
  margin: 40px 0;
  border-color: var(--main-color);
}

@media (max-width: 992px) {
  .about .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about .text {
    width: 100%;
    text-align: center;
  }
  .about .text hr {
    margin: 40px auto;
  }
  .about .image {
    margin: 0 auto 60px;
  }
  .about .image::after,
  .about .image::before {
    display: none;
  }
}
/* end about */
/* start contact */
.contact {
  background-color: var(--tertiary-color);
  padding: var(--section-padding);
}

.contact .contact-content {
  margin-top: 60px;
  text-align: center;
  font-size: 1.625rem;
}

.contact .contact-content > p {
  color: var(--secondary-color);
  font-weight: 800;
}

.contact a {
  text-decoration: none;
  color: #165a5a;
  font-weight: 600;
}

.contact i {
  display: inline-block;
  color: var(--secondary-color);
}

.contact .social p {
  display: inline-block;
}

.contact .social {
  position: relative;
}

.contact .social span {
  position: absolute;
  color: black;
  z-index: -9999;
}

@media (max-width: 768px) {
  .contact .contact-content {
    font-size: 1.2rem;
  }
  .contact .social p {
    display: block;
  }
}

.footer {
  background-color: var(--secondary-color);
  padding: 16px;
}

.footer .container {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
}

.footer .container span {
  color: var(--main-color);
}
/* end contact */
