/* Start Global Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}
/* End Global Variables */
/* Start Components */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.special-heading {
  font-size: 100px;
  font-weight: 800;
  color: #ebeced;
  text-align: center;
  margin: 0;
}

@media (max-width: 767px) {
.special-heading {
    font-size: 60px;
  }
}

.special-heading + p {
  text-align: center;margin: -30px 0 0;
  font-size: 20px;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Components */
/* start header */
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

/* header: start logo */
.header .container .logo {
  width: 60px;
  height: 28px;
}

.header .container .logo img {
  width: 100%;
}
/* header: end logo */

.header .container .links {
  position: relative;
}
/* header: start icon */
.header .container .links .icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 30px;
}

.header .container .links .icon span {
  display: inline-block;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
  transition-duration: 0.3s;
}

.header .container .links .icon span:first-child {
  width: 100%;
}

.header .container .links .icon span:nth-child(2) {
  width: 60%;
}

.header .container .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .container .links .icon span:last-child {
  width: 100%;
}
/* header: end icon */
/* header: start ul links */
.header .container .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 200px;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  z-index: 1;
  display: none;
}

.header .container .links:hover ul {
  display: block;
}

.header .container .links ul::before {
  content: "";
  content: "";
  display: inline-block;
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent #f6f6f6  transparent;
  top: 0;
  right: 5px;
  transform: translateY(-100%);
}
.header .container .links ul li {
  padding: 15px;
  font-size: 1.2rem;
  transition-duration: 0.3s;
}

.header .container .links ul li:hover {
  padding-left: 25px;
}
.header .container .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.header .container .links ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}
/* header: end ul links */
/* end header */
/* landing start */
.landing {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 68px);
  position: relative;
}

.landing .container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
}
.landing h1{
  margin: 0;
  font-size: 3.125rem;
  font-weight: 800;
  color: var(--main-color);
}

.landing p{
  margin: 15px 0;
  line-height: 1.8;
  font-size: 1.17rem;
}
/* landing end */
/* feature start */
.feature {
  background-color: #f6f6f6;
}
.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.feature .container .feat {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.feature .container .feat i {
  font-size: 3rem;
  color: var(--main-color);
}

.feature .container .feat h2 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 25px;
}


.feature .container .feat p {
  line-height: 1.9;
  margin-top: 25px;
}
/* feature end */
/* services start */
/* .services .container .services-content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.services {
  padding-top: 20px;
  width: 100vw;
  height: 100vh;
}

.services .container .special-heading {
  font-size: 100px;
  letter-spacing: -6px;
  font-weight: 800;
  text-align: center;
  color: #eee;
} */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .container {
  position: relative;
}

.services .container .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 60px;
}

.services .container .services-content .srv {
  display: flex;
}

.services .container .services-content .srv i {
  flex-basis: 60px;
  color: var(--main-color);
}

.services .container .services-content .srv .text {
  flex: 1;
}

.services .container .services-content .srv .text h3 {
  margin-top: 0;
}

.services .services-content .srv .text p {
  line-height: 1.8;
}

.services .services-content .image {
  text-align: center;
  position: relative
}

.services .services-content .image::before {
  content: "";
  position: absolute;
  width: 26%;
  height: calc(100% + 80px);
  background-color: var(--secondary-color);
  top: -40px;
  right: 0;
  z-index: -1;
}

.services .services-content .image img {
  border-style: none;
  width: 235px;
}

@media (max-width: 992px) {
  .image-column {
    display: none;
  }
}

@media (max-width: 768px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
/* services end */
/* start portfolio */
.portfolio {
  background-color: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio .card-collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 60px;
  gap: 30px;
}

.portfolio .card-collection .card {
  background-color: white;
}

.portfolio .card-collection .card img {
  max-width: 100%;
}

.portfolio .card-collection .card .text {
  padding: 20px;
}
.portfolio .card-collection .card .text h3 {
  margin-top: 0;
}
/* 
@media (max-width: 768px) {
  .portfolio .card-collection {
    grid-auto-flow: column;
  }
} */
/* end portfolio */
/* start about */
.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about .about-section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.about .image {
  width: 250px;
  height: 375px;
  position: relative;
}

.about .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 40%;
  height: calc(100% + 60px);
  top: -30px;
  z-index: -1;
  left: -20px;
}

.about .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  top: -30px;
  right: -150px;
  z-index: -1;
}

.about .image img{
  max-width: 100%;
}

.about .text {
  width: calc(100% - 500px);
  font-size: 16px;
  line-height: 1.8rem;
}

.about .text p:first-child {
  margin-bottom: 40px;
  font-weight: 700;
}
.about .text p:last-child {
  margin-top: 40px;
}

.about .text hr {
  border-color: var(--main-color);
  width: 40%;
  margin: 0;
}

@media (max-width: 992px) {
  .about .about-section {
    flex-direction: column;
  }
  .about .text {
    width: 100%;
    text-align: center;
  }
  .about .image {
    margin: 0 auto 60px;
  }
  .about .image::after, .about .image::before {
    display: none;
  }
}
/* end about */
/* start contact */
.contact {
  background-color: #f6f6f6;
  padding-bottom: 60px;
  padding-top: 60px;
}
.contact .contact-content {
  text-align: center;
  margin-top: 60px;
  font-size: 26px;
}


.contact .contact-content > p {
  color: var(--secondary-color);
  font-weight: 800;
}

.contact a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 800;
}

.contact i {
  display: inline-block;
  color: var(--secondary-color);
}

.contact .social p {
  display: inline-block;
}

@media (max-width: 768px) {
  .contact .contact-content {
    font-size: 1.2rem;
  }
  .contact .social p {
    display: block;
  }
}

.footer {
  background-color: var(--secondary-color);
  padding: 16px;
}
.footer .container {

  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.footer .container span {
  color: var(--main-color);
}

/* end contact */

